body {
    font-family: Helvetica;
}

section {
    background-color: #F6F8F9;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.main .content {
    width: 50%;
}

.main .content h5 {
    font-weight: 400;
}

.main .content h1 {
    font-weight: 100;
    font-size: 44px;
}

.main .content p {
    color: #65707A;
    font-size: 24px;
    margin-right: 150px;
    font-weight: 100;
}

.main .content .contact {
    background-color: rgb(120,110,255);
    color: white;
    border-radius: 3px;
    font-size: 22px;
    padding: 15px 25px 15px 25px;
    border-color: rgb(120,110,255);
    border: 0px;
}

.main .content .learn {
    background-color: #F6F8F9;
    border-radius: 3px;
    font-size: 22px;
    padding: 15px 25px 15px 25px;
    margin-left: 15px;
}

.main .picture {
    margin: 20px 0px 0px 80px;
}