@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

:root {
    --clr-primary: #85DCFF;
}

body {
    font-family: Arial, sans-serif;
}


/* navigation */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
}

.nav-bar p {
    font-size: 24px;
    padding-top: 15px;
}

.nav-ul {
    display: flex;
    list-style: none;
}

.nav-ul li {
    padding-right: 20px;
    font-size: 24px;
}

/* first section */

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
}

.first-section div {
    padding-left: 100px;
}

.first-section div p {
    padding-top: 20px;
    font-size: 10px;
    margin-right: 100px;
    font-weight: 100;
}

.first-section div button {
    margin-top: 20px;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    font-size: 12px;
}

.donate {
    background-color: white;
    border: 1px solid #D9D9D9;
}

.join-newsletter {
    background-color: black;
    color: white;
    border: none;
    margin-left: 20px;
}

.first-section img {
    padding-right: 50px;
}

/* second section */

.second-section h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 20px;
}

.second-section > p {
    text-align: center;
    font-size: 14px;
    font-weight: 100;
}

.second-section-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
}

.second-section-items div {
    text-align: center;
}

.second-section-items i {
    color: var(--clr-primary);
    
}

.second-section-items-title {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 100;
}

.second-section-items-paragraph {
    text-align: center;
    padding-top: 20px;
    font-size: 8px;
    font-weight: 100;
}

/* third section */

.third-section {
    background-color: var(--clr-primary);
}

.third-section h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.third-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 150px 20px 150px;
}

.third-section div ul {
    list-style: none;
    padding-right: 30px;
}

.third-section div ul li {
    padding-top: 20px;
}

.our-mission-btn {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 100;
    
}

/* fourth section */

.fourth-section h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
    font-weight: 900;
}

.fourth-section p {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 100;
}

.fourth-section div {
    display: flex;
    align-items: center;
    padding: 20px 50px 50px 50px;
    gap: 40px;
    width: 30%;
}

/* fifth section */

.fifth-section h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

.work-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 100px 20px 100px;
    margin: 20px;
}

.work-section div {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.work-section-title {
    background-color: var(--clr-primary);
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
}

.work-station-paragraph {
    padding: 20px;
    font-size: 12px;
}

/* sixth section */

.sixth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sixth-section img {
    width: 50%;
}

.sixth-section-div {
    padding: 30px 60px 30px 60px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.sixth-section-div h1 {
    font-size: 18px;
}

.sixth-section-div p {
    padding-top: 20px;
    font-size: 12px;
    font-weight: 100;
}

#E-mail {
    margin-top: 25px;
    margin-bottom: 10px;
    border: 1px solid #D9D9D9;
    padding: 5px 10px 5px 10px;
}

.sixth-section-div button {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 900;
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.footer i {
    padding: 15px 5px 15px 5px;
}

.footer p {
    font-size: 12px;
}